{% extends "product_base1.html" %}
{% load crispy_forms_tags %}

{% block name %}
<body style="background: #fff;">
    <form action="." method="POST">{% csrf_token %}
         <fieldset class="babe">
             <div class="come">CREATE ACCOUNT</div>
             <br>
           {{ form|crispy }}
             <br>
           <div>
             <button type="submit" style="animation: none;" class="btn btn-secondary">Sign Up</button>
           </div>
          <div>
              <small style="font-size: 0.9em;">Already Have an Account? <a href="{% url 'prod-user_login' %}" style="text-decoration: none;" >
                  Sign In</a></small>
          </div>
         </fieldset>
    </form>
</body>
{% endblock %}
