{% load static %}
<div class="body">
      <section class="section-center">
          <!-- image -->
          <article class="gift-img">
            <img width="200px;" style="border-radius: 20px 20px; transform: rotate(-90deg); margin-left: 15%;"
                 src="{% static 'Product/Media/fourth.jpg' %}" alt="gift" />
          </article>
          <!-- info -->
          <article class="gift-info">
            <h3>New shoe promo</h3>
            <h4 class="giveaway">
              promo ends on Sunday, 13 October 2021, 7:00am
            </h4>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Reprehenderit molestiae cum libero atque ut voluptate qui consectetur
              aliquid incidunt voluptatem quos, dolore, non commodi quaerat aliquam
              eligendi, quisquam totam blanditiis.
            </p>
            <div class="deadline">
              <div class="deadline-format">
                <div>
                  <h4 class="days">34</h4>
                  <span>days</span>
                </div>
              </div>
              <div class="deadline-format">
                <div>
                  <h4 class="hours">34</h4>
                  <span>hours</span>
                </div>
              </div>
              <div class="deadline-format">
                <div>
                  <h4 class="minutes">34</h4>
                  <span>mins</span>
                </div>
              </div>
              <div class="deadline-format">
                <div>
                  <h4 class="seconds">34</h4>
                  <span>secs</span>
                </div>
              </div>
            </div>
          </article>
      </section>
</div>