{% load static %}
     <header>
          <nav id="nav">
              <div class="nav-center">
                <div class="nav-header">
                  <img width = "50px;" style = "border-radius: 60%;" src = "{% static 'Product/Media/Portfolio.jpg' %}"
                       alt = "This is a logo" >
                  <button class="nav-toggle"><i class="fas fa-bars"></i></button>
                </div>

                <ul class="links">
                    <li class="scroll-link"><a href="{% url 'prod-home' %}">
                        <i class="fa fa-home" aria-hidden="true">home</i></a></li>
                  {% if user.is_authenticated %}
                     <li class="scroll-link"><a href="{% url 'prod-create' %}">
                         <i class="fa fa-product-hunt" aria-hidden="true">Product</i></a></li>
                     <li class="scroll-link"><a href="https://product-cart.netlify.app/">
                         <i class="fas fa-cart-plus" aria-hidden="true">Cart</i></a></li>
                     <li class="scroll-link"><a href="{% url 'prod-product' %}">
                         <i class="fa fa-file-pdf-o" aria-hidden="true">Create PDF</i></a></li>
                    <li class="scroll-link"><a href="{% url 'prod-user_logout' %}">
                        <i class="fa fa-sign-out" aria-hidden="true">Logout</i></a></li>
                  {% else %}
                    <li class="scroll-link"><a href="{% url 'prod-user_register' %}">
                        <i class="fas fa-registered">Register</i></a></li>
                     <li class="scroll-link"><a href="{% url 'prod-user_login' %}">
                         <i class="fa fa-sign-in" aria-hidden="true">Login</i></a></li>
                  {% endif %}
                </ul>
                <ul class="social-icons">
                    <li><a href="https://www.twitter.com/Chuksmbanaso"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/chuks-mbanaso/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/ChuksMbanaso"><i class="fab fa-github"></i></a></li>
                </ul>
                 <form action="{% url 'prod-search' %}" method="get" class="search">
                    <input type="text" name="query" placeholder="Search for product"
                             data-id="input-element"
                             data-model-name="input-element"
                             spellcheck="false" autocomplete="off"
                             aria-haspopup="listbox" aria-autocomplete="list"
                             aria-label="Search" style="border-radius: 3px 3px;">
                    <button class="btn btn-hsl(209, 61%, 16%)" type="submit"
                            style="animation: none; position: relative; right: 2%;">
                        <i class='fas fa-search'></i></button>
                 </form>
              </div>
          </nav>
     </header>