{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'Product/product.css' %}">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Chuks Product Website</title>
</head>
   <body>
      {% include 'navbar.html' %}
      <main>
          <br>
          {% include 'prod.html' %}
          {% include 'giveaway.html' %}
            <div class="home">
               <p class="hommy"></p>
               <h1 style="font-weight: 800;">LATEST COLLECTIONS</h1>
                <br>
            </div>
          <div class="section1">
            {% block content %}
            {% endblock %}
          </div>
      </main>
       {% include 'explore.html' %}
       {% include 'footer.html' %}
     <script src="{% static 'Product/product.js' %}"></script>
   </body>
</html>

